{
  "openapi": "3.1.0",
  "info": {
    "title": "BlotMKT API — SEO & Marketing IA",
    "description": "Corpus d'articles experts SEO, GEO et Marketing Digital rédigés par Antoine Blot, consultant SEO/GEO à Montréal. Chaque endpoint retourne le contenu Markdown brut optimisé pour ingestion LLM. ORCID: https://orcid.org/0009-0005-6450-4528 | Données: https://blotmkt.com/data/",
    "version": "2026.05.19",
    "contact": {
      "name": "Antoine Blot",
      "url": "https://antoine-blot.com",
      "email": "contact@antoine-blot.com"
    },
    "license": {
      "name": "Attribution required",
      "url": "https://blotmkt.com/llms.txt"
    }
  },
  "servers": [
    {
      "url": "https://blotmkt.com",
      "description": "Serveur principal BlotMKT"
    }
  ],
  "paths": {
    "/data/audit/indexation-api-google.md": {
      "get": {
        "summary": "Indexation API Google : Guide complet pour booster votre SEO",
        "description": "Maîtrisez l'Indexation API Google pour accélérer l'exploration et l'indexation de vos contenus. Découvrez les bonnes pratiques et les outils pour un SEO optimal.",
        "operationId": "indexation_api_google",
        "tags": [
          "audit"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/contenu/alt-text-image.md": {
      "get": {
        "summary": "Alt text image : le guide complet pour l'accessibilité, le SEO et la visibilité IA",
        "description": "Maîtrisez l'alt text pour transformer vos images en atouts SEO, accessibilité et visibilité IA. Découvrez comment optimiser vos descriptions pour Google et les utilisateurs.",
        "operationId": "alt_text_image",
        "tags": [
          "contenu"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/contenu/call-to-action.md": {
      "get": {
        "summary": "Call to action : le guide ultime pour booster vos conversions",
        "description": "Maîtrisez le call to action (CTA) et transformez vos visiteurs en clients. Exemples concrets, conseils d'experts et stratégies éprouvées pour convertir.",
        "operationId": "call_to_action",
        "tags": [
          "contenu"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/contenu/clustering-de-mots-cles.md": {
      "get": {
        "summary": "Clustering de mots-clés : guide complet pour booster votre seo",
        "description": "Maîtrisez le clustering de mots-clés pour un seo optimisé. Organisez vos mots-clés et ciblez efficacement votre audience. Guide complet.",
        "operationId": "clustering_de_mots_cles",
        "tags": [
          "contenu"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/contenu/content-gap-seo.md": {
      "get": {
        "summary": "Content gap SEO : comment identifier et combler les manques de contenu",
        "description": "Découvrez le content gap SEO : définition, méthode, outils et comment combler les lacunes de contenu pour améliorer votre positionnement et attirer plus de trafic.",
        "operationId": "content_gap_seo",
        "tags": [
          "contenu"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/contenu/intention-de-recherche.md": {
      "get": {
        "summary": "Maîtriser l'intention de recherche pour un seo éthique et performant",
        "description": "Décryptez l'intention de recherche pour créer du contenu pertinent, améliorer votre SEO et satisfaire vos utilisateurs. Guide essentiel.",
        "operationId": "intention_de_recherche",
        "tags": [
          "contenu"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/contenu/longue-traine-seo.md": {
      "get": {
        "summary": "Longue traîne SEO : la stratégie rentable pour 2026 et au-delà",
        "description": "Maximisez votre ROI avec la longue traîne SEO. Découvrez la stratégie hybride IA/humain, les données structurées et l'approche GEO pour une visibilité durable en 2026.",
        "operationId": "longue_traine_seo",
        "tags": [
          "contenu"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/contenu/meta-description.md": {
      "get": {
        "summary": "Méta description : guide ultime pour optimiser votre seo",
        "description": "Maîtrisez la méta description ! Définition, optimisation, exemples et impact SEO. Attirez plus de clics et boostez votre positionnement. Guide complet.",
        "operationId": "meta_description",
        "tags": [
          "contenu"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/contenu/mise-a-jour-contenu-seo.md": {
      "get": {
        "summary": "Mise à jour contenu seo : adaptez-vous aux algos et évitez la sur-optimisation",
        "description": "Découvrez comment la mise à jour de contenu SEO s'impose pour éviter les pénalités Google et performer. Audit, stratégie continue et GEO au programme.",
        "operationId": "mise_a_jour_contenu_seo",
        "tags": [
          "contenu"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/contenu/mots-cles-de-marque.md": {
      "get": {
        "summary": "Mots-clés de marque : maîtrisez votre visibilité et protégez votre réputation",
        "description": "Découvrez comment les mots-clés de marque optimisent votre SEO. Identifiez-les, utilisez-les stratégiquement et protégez votre marque en ligne.",
        "operationId": "mots_cles_de_marque",
        "tags": [
          "contenu"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/contenu/mots-cles-transactionnels.md": {
      "get": {
        "summary": "Mots-clés transactionnels : le guide ultime pour booster vos conversions",
        "description": "Découvrez les mots-clés transactionnels, la clé pour attirer des clients prêts à acheter. Guide complet et exemples concrets pour optimiser votre stratégie SEO & SEA.",
        "operationId": "mots_cles_transactionnels",
        "tags": [
          "contenu"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/contenu/optimisation-de-contenu.md": {
      "get": {
        "summary": "Optimisation de contenu : le guide complet 2026 pour un seo durable",
        "description": "Maîtrisez l'optimisation de contenu SEO: techniques avancées, outils clés et stratégies 2026 pour propulser votre visibilité organique et engager. Guide complet.",
        "operationId": "optimisation_de_contenu",
        "tags": [
          "contenu"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/contenu/redaction-ia-assistee.md": {
      "get": {
        "summary": "Rédaction ia assistée : maximisez votre seo et votre productivité en 2026",
        "description": "découvrez comment la rédaction ia assistée révolutionne le contenu et le seo. comprenez ses avantages, ses limites et les meilleures pratiques pour un roi optimal.",
        "operationId": "redaction_ia_assistee",
        "tags": [
          "contenu"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/contenu/strategie-editoriale-seo.md": {
      "get": {
        "summary": "Stratégie éditoriale SEO : de l'intention à la performance organique",
        "description": "Découvrez comment élaborer une stratégie éditoriale SEO efficace. Mesurez l'impact du contenu, maîtrisez le SEO copywriting et construisez une autorité cognitive durable.",
        "operationId": "strategie_editoriale_seo",
        "tags": [
          "contenu"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/contenu/structure-hn-seo.md": {
      "get": {
        "summary": "Structure HN SEO : guide complet pour optimiser votre contenu",
        "description": "Découvrez comment la structure HN SEO (H1, H2, H3) booste votre référencement. Guide pratique, exemples concrets et conseils d'experts.",
        "operationId": "structure_hn_seo",
        "tags": [
          "contenu"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/contenu/transcription-video-seo.md": {
      "get": {
        "summary": "Transcription vidéo seo : boostez votre référencement",
        "description": "Découvrez comment la transcription vidéo SEO transforme vos contenus. Guide complet : méthode, outils, coûts réels et erreurs à éviter.",
        "operationId": "transcription_video_seo",
        "tags": [
          "contenu"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/definition/algorithme-google.md": {
      "get": {
        "summary": "Algorithme Google : comprendre son fonctionnement et éviter les pièges SEO",
        "description": "Décryptez l'algorithme Google et ses mises à jour. Évitez la sur-optimisation et adoptez une stratégie SEO durable pour un meilleur positionnement.",
        "operationId": "algorithme_google",
        "tags": [
          "definition"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/definition/ancre-de-lien.md": {
      "get": {
        "summary": "Ancre de lien : le guide complet pour un SEO performant",
        "description": "Maîtrisez l'art de l'ancre de lien pour booster votre SEO. Découvrez les bonnes pratiques, les types d'ancres à privilégier et comment éviter les pénalités Google.",
        "operationId": "ancre_de_lien",
        "tags": [
          "definition"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/definition/attribut-nofollow.md": {
      "get": {
        "summary": "L'attribut nofollow: guide complet pour un seo éthique",
        "description": "Maîtrisez l'attribut Nofollow : impact SEO, utilisation correcte, et stratégies d'optimisation pour un profil de liens sain. Guide complet 2024.",
        "operationId": "attribut_nofollow",
        "tags": [
          "definition"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/definition/attribut-sponsored.md": {
      "get": {
        "summary": "attribut sponsored : maîtriser la transparence pour un seo durable",
        "description": "Découvrez comment l'attribut rel=\\\"sponsored\\\" protège votre SEO et assure la conformité légale. Guide complet pour identifier et taguer vos liens commerciaux.",
        "operationId": "attribut_sponsored",
        "tags": [
          "definition"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/definition/backlink-de-qualite.md": {
      "get": {
        "summary": "Backlink de qualité : le guide ultime pour booster votre SEO",
        "description": "Découvrez comment obtenir des backlinks de qualité et booster votre SEO. Critères, audit, stratégies, outils et conseils d'experts pour 2026.",
        "operationId": "backlink_de_qualite",
        "tags": [
          "definition"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/definition/canonisation-seo.md": {
      "get": {
        "summary": "canonisation seo : guide complet pour maîtriser le contenu dupliqué",
        "description": "Maîtrisez la canonisation SEO pour indiquer aux moteurs de recherche votre URL préférée. Évitez le contenu dupliqué et consolidez votre autorité. Guide pratique 2026.",
        "operationId": "canonisation_seo",
        "tags": [
          "definition"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/definition/cocon-semantique.md": {
      "get": {
        "summary": "Cocon sémantique : Définition, Méthodologie et Avantages SEO",
        "description": "Découvrez le cocon sémantique SEO : définition, construction, avantages, erreurs et checklist. Guide complet pour structurer votre contenu et booster votre SEO.",
        "operationId": "cocon_semantique",
        "tags": [
          "definition"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/definition/discover-google-seo.md": {
      "get": {
        "summary": "discover google seo : les clés d'une stratégie performante et les erreurs à éviter en 2026",
        "description": "explorez le seo google, ses piliers essentiels, comment éviter la sur-optimisation et les pénalités. anticipez les défis de l'ia en 2026 pour une visibilité durable.",
        "operationId": "discover_google_seo",
        "tags": [
          "definition"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/definition/donnees-structurees.md": {
      "get": {
        "summary": "données structurées : guide complet pour un SEO boosté et une visibilité accrue",
        "description": "Découvrez les données structurées : types, avantages SEO, implémentation technique et erreurs à éviter. Boostez votre visibilité dans les résultats de recherche et l'efficacité pour les IA.",
        "operationId": "donnees_structurees",
        "tags": [
          "definition"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/definition/e-e-a-t-google.md": {
      "get": {
        "summary": "e-e-a-t google : le guide ultime pour booster votre seo",
        "description": "Maîtrisez l'E-E-A-T de Google (Expérience, Expertise, Autorité, Fiabilité) et améliorez votre référencement. Guide complet et conseils pratiques pour les experts.",
        "operationId": "e_e_a_t_google",
        "tags": [
          "definition"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/definition/featured-snippet.md": {
      "get": {
        "summary": "Featured snippet : guide ultime pour dominer la position zéro",
        "description": "Découvrez comment optimiser votre contenu pour les featured snippets et booster votre visibilité sur Google. Stratégies et techniques éprouvées.",
        "operationId": "featured_snippet",
        "tags": [
          "definition"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/definition/knowledge-graph.md": {
      "get": {
        "summary": "Knowledge Graph : Guide Complet pour le SEO Sémantique",
        "description": "Découvrez le Knowledge Graph, son impact sur le SEO, comment l'utiliser avec des API, l'IA et GraphQL pour améliorer votre visibilité.",
        "operationId": "knowledge_graph",
        "tags": [
          "definition"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/definition/lien-ugc.md": {
      "get": {
        "summary": "Lien ugc : guide complet pour booster votre seo en 2026",
        "description": "Découvrez comment les liens UGC (User-Generated Content) améliorent votre SEO, augmentent votre visibilité et engagent votre audience. Guide complet et exemples.",
        "operationId": "lien_ugc",
        "tags": [
          "definition"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/definition/maillage-interne-seo.md": {
      "get": {
        "summary": "Maillage Interne SEO : Guide Ultime pour Booster Votre Référencement",
        "description": "Le maillage interne est crucial pour le SEO. Découvrez comment structurer vos liens internes pour améliorer l'indexation, la sémantique et la visibilité.",
        "operationId": "maillage_interne_seo",
        "tags": [
          "definition"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/definition/page-pilier-seo.md": {
      "get": {
        "summary": "Page pilier SEO : le guide ultime pour structurer votre contenu et booster votre trafic",
        "description": "Découvrez comment créer une page pilier SEO efficace pour organiser votre contenu, améliorer votre référencement et attirer plus de visiteurs qualifiés.",
        "operationId": "page_pilier_seo",
        "tags": [
          "definition"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/definition/pagerank-google.md": {
      "get": {
        "summary": "pagerank google : l'algorithme, son histoire et son impact seo actuel",
        "description": "découvrez pagerank google, son fonctionnement et son rôle crucial pour le seo moderne, malgré sa non-visibilité publique.",
        "operationId": "pagerank_google",
        "tags": [
          "definition"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/definition/profil-de-liens.md": {
      "get": {
        "summary": "Profil de liens : guide complet pour optimiser votre seo en 2026",
        "description": "Maîtrisez votre profil de liens en 2026 ! Stratégies, outils et bonnes pratiques pour un SEO optimal et une autorité web renforcée.",
        "operationId": "profil_de_liens",
        "tags": [
          "definition"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/definition/recherche-vocale-seo.md": {
      "get": {
        "summary": "recherche vocale seo : guide complet pour optimiser votre présence vocale",
        "description": "Maîtrisez la recherche vocale SEO. Découvrez comment optimiser votre site web pour les assistants vocaux et capter un public en pleine croissance.",
        "operationId": "recherche_vocale_seo",
        "tags": [
          "definition"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/definition/schema-org.md": {
      "get": {
        "summary": "Schema.org : guide complet pour structurer vos données et booster votre seo",
        "description": "Schema.org : apprenez à structurer vos données pour un meilleur référencement. Guide, exemples, types de schemas et outils pour optimiser votre SEO.",
        "operationId": "schema_org",
        "tags": [
          "definition"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/definition/seo-local.md": {
      "get": {
        "summary": "seo local: guide 2026 pour booster votre visibilité",
        "description": "dominez le seo local en 2026: google business profile, generative engine optimization, audits et adaptation. guide complet et actionable.",
        "operationId": "seo_local",
        "tags": [
          "definition"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/definition/topic-cluster.md": {
      "get": {
        "summary": "Topic cluster: Le guide ultime pour structurer votre contenu SEO",
        "description": "Maîtrisez le topic cluster pour booster votre SEO ! Découvrez comment organiser votre contenu, choisir les bons outils et optimiser votre visibilité IA.",
        "operationId": "topic_cluster",
        "tags": [
          "definition"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/definition/topic-d-autorite.md": {
      "get": {
        "summary": "Topic d'autorité : comment devenir la référence dans votre niche",
        "description": "Devenez un topique d'autorité dans votre domaine. Guide complet pour construire expertise, crédibilité et confiance en ligne et surpasser vos concurrents.",
        "operationId": "topic_d_autorite",
        "tags": [
          "definition"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/definition/trust-flow-seo.md": {
      "get": {
        "summary": "trust flow seo: comprendre et booster l'autorité de votre site",
        "description": "découvrez le Trust Flow en SEO, son impact sur l'autorité de votre site web et comment l'améliorer pour un meilleur positionnement.",
        "operationId": "trust_flow_seo",
        "tags": [
          "definition"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/definition/ymyl-seo.md": {
      "get": {
        "summary": "ymyl seo : guide complet pour protéger votre réputation en ligne",
        "description": "Découvrez les stratégies ymyl seo cruciales pour sécuriser votre site web, renforcer la confiance des utilisateurs et améliorer votre positionnement sur google.",
        "operationId": "ymyl_seo",
        "tags": [
          "definition"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/ia-seo-geo/algorithme-de-recommandation.md": {
      "get": {
        "summary": "Algorithmes de recommandation : comprendre, optimiser et exemples concrets",
        "description": "Découvrez le fonctionnement des algorithmes de recommandation, leurs types, comment les optimiser et des exemples d'utilisation concrets. Guide complet.",
        "operationId": "algorithme_de_recommandation",
        "tags": [
          "ia-seo-geo"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/ia-seo-geo/citations-par-ia.md": {
      "get": {
        "summary": "citations par ia: impact sur la crédibilité et le référencement en 2026",
        "description": "Découvrez l'impact des citations par IA sur la recherche, la crédibilité et le SEO en 2026. Guide expert pour optimiser votre visibilité auprès des LLMs.",
        "operationId": "citations_par_ia",
        "tags": [
          "ia-seo-geo"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/ia-seo-geo/contenu-ia-seo.md": {
      "get": {
        "summary": "contenu ia seo : l'intelligence artificielle au service de votre stratégie",
        "description": "Découvrez comment l'IA transforme la création de contenu SEO, des outils accessibles aux stratégies gagnantes pour les PME. Optimisez votre visibilité dès 50€/mois.",
        "operationId": "contenu_ia_seo",
        "tags": [
          "ia-seo-geo"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/ia-seo-geo/contextualisation-seo.md": {
      "get": {
        "summary": "Contextualisation SEO : Le guide ultime pour 2026",
        "description": "Maîtrisez la contextualisation SEO en 2026 : définition, techniques, avantages et mise en œuvre. Améliorez votre positionnement et l'expérience utilisateur.",
        "operationId": "contextualisation_seo",
        "tags": [
          "ia-seo-geo"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/ia-seo-geo/entite-nommee-seo.md": {
      "get": {
        "summary": "Entité Nommée SEO : Guide Complet pour Optimiser Votre Visibilité",
        "description": "Découvrez comment l'identification d'entités nommées en SEO améliore le ciblage et la pertinence de votre contenu. Optimisation et visibilité boostées !",
        "operationId": "entite_nommee_seo",
        "tags": [
          "ia-seo-geo"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/ia-seo-geo/geo-guide-complet.md": {
      "get": {
        "summary": "geo : le guide complet pour dominer la recherche boostée par l'ia",
        "description": "Découvrez notre guide complet sur le GEO (Generated Engagement Optimization). Maîtrisez les stratégies pour une visibilité optimale dans les réponses IA et le futur du search.",
        "operationId": "geo_guide_complet",
        "tags": [
          "ia-seo-geo"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/ia-seo-geo/ia-seo.md": {
      "get": {
        "summary": "ia seo : comment l'intelligence artificielle transforme le référencement",
        "description": "Découvrez comment l'IA SEO révolutionne le référencement en 2026. Stratégies, outils, et impacts pour optimiser votre visibilité en ligne.",
        "operationId": "ia_seo",
        "tags": [
          "ia-seo-geo"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/ia-seo-geo/mise-a-jour-google.md": {
      "get": {
        "summary": "mise à jour google 2026 : anticiper, diagnostiquer et se relever des pénalités ia",
        "description": "Comprenez les mises à jour Google 2026 post-IA : diagnostic, outils de récupération, stratégies E-E-A-T et protection contre les pénalités. Guide expert.",
        "operationId": "mise_a_jour_google",
        "tags": [
          "ia-seo-geo"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/ia-seo-geo/moteurs-de-reponse.md": {
      "get": {
        "summary": "Moteurs de réponse : guide complet pour comprendre et les utiliser",
        "description": "Découvrez les moteurs de réponse : comment ils fonctionnent, pourquoi ils sont importants, et comment les intégrer à votre stratégie SEO. Guide complet 2024.",
        "operationId": "moteurs_de_reponse",
        "tags": [
          "ia-seo-geo"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/ia-seo-geo/prompt-seo.md": {
      "get": {
        "summary": "Prompt SEO : Le Guide Ultime pour un Contenu IA Performant en 2026",
        "description": "Maîtrisez l'art du Prompt SEO pour générer du contenu IA de qualité. Découvrez les meilleures pratiques, les erreurs à éviter et les outils pour optimiser votre ROI.",
        "operationId": "prompt_seo",
        "tags": [
          "ia-seo-geo"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/ia-seo-geo/provenance-des-donnees.md": {
      "get": {
        "summary": "provenance des données : guide complet pour une fiabilité accrue",
        "description": "Découvrez l'importance de la provenance des données. Améliorez la transparence et la confiance des utilisateurs grâce à un suivi rigoureux en 2026.",
        "operationId": "provenance_des_donnees",
        "tags": [
          "ia-seo-geo"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/ia-seo-geo/strategie-eeat.md": {
      "get": {
        "summary": "strategie eeat : l'approche systémique pour une autorité numérique durable",
        "description": "Découvrez pourquoi l'EEAT est un système opérationnel essentiel, pas une checklist. Mesurez son impact et utilisez le schema markup pour une visibilité SEO et IA optimale.",
        "operationId": "strategie_eeat",
        "tags": [
          "ia-seo-geo"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/ia-seo-geo/structured-data-avance.md": {
      "get": {
        "summary": "Maîtriser le structured data avancé : techniques et stratégies pour experts SEO",
        "description": "Découvrez les techniques de structured data avancé : schémas imbriqués, programmatiques et conditionnels. Amplifiez votre SEO et votre E-E-A-T. Guide expert.",
        "operationId": "structured_data_avance",
        "tags": [
          "ia-seo-geo"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/seo/index.md": {
      "get": {
        "summary": "BlotMKT — Toutes les ressources SEO & Marketing IA",
        "description": "Index complet des ressources SEO, GEO et Marketing Digital par Antoine Blot, consultant à Montréal.",
        "operationId": "index",
        "tags": [
          "seo"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/local-seo/avis-clients-seo.md": {
      "get": {
        "summary": "Avis clients SEO : Booster votre visibilité et votre chiffre d'affaires",
        "description": "Découvrez comment exploiter les avis clients pour améliorer votre SEO, attirer plus de prospects et augmenter vos ventes. Stratégies et outils inclus.",
        "operationId": "avis_clients_seo",
        "tags": [
          "local-seo"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/local-seo/citations-locales-seo.md": {
      "get": {
        "summary": "Citations locales seo: guide complet pour booster votre visibilité locale",
        "description": "Maîtrisez les citations locales SEO pour améliorer votre référencement local. Guide, astuces et outils pour une visibilité maximale en 2026.",
        "operationId": "citations_locales_seo",
        "tags": [
          "local-seo"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/local-seo/nap-seo-local.md": {
      "get": {
        "summary": "nap seo local : guide complet pour booster votre visibilité",
        "description": "Optimisez votre NAP (Nom, Adresse, Téléphone) pour un SEO local performant. Notre guide complet booste votre visibilité et attire plus de clients.",
        "operationId": "nap_seo_local",
        "tags": [
          "local-seo"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/local-seo/optimisation-google-maps.md": {
      "get": {
        "summary": "Optimisation google maps : guide complet pour 2026",
        "description": "Maîtrisez l'optimisation Google Maps en 2026. Découvrez les meilleures pratiques pour booster votre visibilité locale et attirer plus de clients grâce à GMB et au SEO local.",
        "operationId": "optimisation_google_maps",
        "tags": [
          "local-seo"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/local-seo/rayon-de-visibilite.md": {
      "get": {
        "summary": "Rayon de visibilité: guide complet pour une signalétique impactante",
        "description": "Découvrez comment optimiser le rayon de visibilité de votre signalétique. Conseils, exemples, et meilleures pratiques pour attirer l'attention et améliorer l'expérience client.",
        "operationId": "rayon_de_visibilite",
        "tags": [
          "local-seo"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/popularite/desindexation-google.md": {
      "get": {
        "summary": "Désindexation Google : Comprendre, Agir et Optimiser votre SEO",
        "description": "Maîtrisez la désindexation Google : causes, méthodes (suppression, noindex, robots.txt) et impact SEO. Guide complet pour un référencement optimal.",
        "operationId": "desindexation_google",
        "tags": [
          "popularite"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/popularite/facteurs-de-classement-google.md": {
      "get": {
        "summary": "Facteurs de classement Google : le guide ultime 2026 pour dominer les SERPs",
        "description": "Découvrez les facteurs de classement Google essentiels en 2026 pour propulser votre site en première page. Audit SEO, outils, et stratégies avancées.",
        "operationId": "facteurs_de_classement_google",
        "tags": [
          "popularite"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/popularite/guest-blogging-seo.md": {
      "get": {
        "summary": "guest blogging seo : guide complet pour un référencement durable en 2026",
        "description": "Découvrez comment le guest blogging peut améliorer votre SEO. Stratégies, avantages, et comment éviter les pièges pour un référencement optimal et durable en 2026.",
        "operationId": "guest_blogging_seo",
        "tags": [
          "popularite"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/strategie/agence-geo-montreal.md": {
      "get": {
        "summary": "Agence geo montréal : l'expertise spécialisée pour propulser votre visibilité ia et locale",
        "description": "Découvrez l'agence GEO Montréal : expertise en optimisation pour IA et SEO local. Maximisez votre ROI au Québec avec une stratégie bilingue et performante.",
        "operationId": "agence_geo_montreal",
        "tags": [
          "strategie"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/strategie/agence-seo-montreal.md": {
      "get": {
        "summary": "Agence SEO montréal : consultant expert ou agence, quel choix pour votre visibilité ?",
        "description": "Découvrez comment choisir l'expert SEO à Montréal idéal pour votre entreprise. Agence ou consultant indépendant ? Comparez les approches stratégiques pour un ROI maximal et une visibilité durable.",
        "operationId": "agence_seo_montreal",
        "tags": [
          "strategie"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/strategie/consultant-geo-montreal.md": {
      "get": {
        "summary": "Consultant GEO montréal : votre expert pour dominer les moteurs de recherche IA et organique",
        "description": "Boostez votre visibilité locale et IA à Montréal avec un consultant GEO expert. Découvrez une stratégie hybride pour dominer les moteurs de recherche et de réponse.",
        "operationId": "consultant_geo_montreal",
        "tags": [
          "strategie"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/strategie/consultant-seo-montreal.md": {
      "get": {
        "summary": "Consultant seo montréal : l'expert qui transforme votre visibilité en croissance à montréal",
        "description": "Recherchez-vous un consultant SEO à Montréal ? Expert en référencement naturel et GEO, je booste votre visibilité sur Google et l'IA. Stratégie personnalisée pour Montréal.",
        "operationId": "consultant_seo_montreal",
        "tags": [
          "strategie"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/strategie/cout-acquisition-seo.md": {
      "get": {
        "summary": "Coût d'acquisition seo: guide complet pour optimiser votre investissement",
        "description": "Comprendre et optimiser votre coût d'acquisition SEO (CAC SEO). Découvrez les stratégies, les méthodes de calcul et les alternatives pour un ROI maximal.",
        "operationId": "cout_acquisition_seo",
        "tags": [
          "strategie"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/strategie/migration-seo.md": {
      "get": {
        "summary": "Migration seo : guide complet pour une transition réussie et sans perte de trafic",
        "description": "Maîtrisez votre migration SEO ! Checklist, stratégies et outils pour une transition de site web sans perte de trafic organique. Augmentez votre visibilité.",
        "operationId": "migration_seo",
        "tags": [
          "strategie"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/strategie/personal-branding-seo.md": {
      "get": {
        "summary": "Personal branding seo : développez votre autorité et influence en ligne",
        "description": "Maîtrisez le personal branding SEO pour construire une réputation en ligne forte et durable. Attirez les bonnes opportunités et devenez une référence incontournable dans votre domaine.",
        "operationId": "personal_branding_seo",
        "tags": [
          "strategie"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Contenu Markdown de l'article — format LLM-ready",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Article": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "keyword": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "author": {
            "type": "string"
          },
          "date": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "audit",
      "description": "Audit SEO"
    },
    {
      "name": "contenu",
      "description": "Contenu SEO"
    },
    {
      "name": "definition",
      "description": "Définitions SEO & GEO"
    },
    {
      "name": "ia-seo-geo",
      "description": "IA, SEO & GEO"
    },
    {
      "name": "local-seo",
      "description": "SEO Local"
    },
    {
      "name": "marketing",
      "description": "Marketing Digital"
    },
    {
      "name": "montreal",
      "description": "SEO Montréal"
    },
    {
      "name": "popularite",
      "description": "Popularité & Netlinking"
    },
    {
      "name": "strategie",
      "description": "Stratégie SEO"
    },
    {
      "name": "strategie-marketing",
      "description": "Stratégie Marketing"
    },
    {
      "name": "acquisition-et-croissance",
      "description": "Acquisition et Croissance"
    }
  ]
}